<section id="user-profile">
  <h2>Wellcome <%= @user[:name] %>!</h2>

  <p>This is your profile:</p>

  <dl>
    <dt>ID</dt>
    <dd><%= @user[:id] %></dd>

    <dt>Facebook id</dt>
    <dd><%= @user[:facebook_id] %></dd>

    <dt>E-mail</dt>
    <dd><%= @user[:email] %></dd>
  </dl>

  <form action="<%= user_logout_url %>" method="get">
    <button type="submit">Logout</button>
  </form>
</section>